<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hops Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        $(document).ready(function() {
            $('#submit > input').click(function() {

                var hop_var = $('#variety').val();
                var prod_type = $('#format').val();
                var amount = $('#amount').val();
                
                fetch('/predict/', {
                    method: 'POST',
                    body: JSON.stringify({'hop_var': hop_var, 'prod_type': prod_type, 'amount': amount}),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(async response => {

                    response = await response.json();

                    if ('No results' in response) {
                        $('#output1').html('<div class="alert alert-success" role="alert">No data to predict such combination</div><br/>');
                        $('#output2').html('');
                        $('#output3').html('');
                        return;
                    }

                    var min_citrus = parseFloat(response.min_predictions[0][0].toFixed(2));
                    var min_herbal = parseFloat(response.min_predictions[0][1].toFixed(2));
                    var min_hoppy = parseFloat(response.min_predictions[0][2].toFixed(2));

                    var average_citrus = parseFloat(response.average_predictions[0][0].toFixed(2));
                    var average_herbal = parseFloat(response.average_predictions[0][1].toFixed(2));
                    var average_hoppy = parseFloat(response.average_predictions[0][2].toFixed(2));

                    var max_citrus = parseFloat(response.max_predictions[0][0].toFixed(2));
                    var max_herbal = parseFloat(response.max_predictions[0][1].toFixed(2));
                    var max_hoppy = parseFloat(response.max_predictions[0][2].toFixed(2));

                    $('#output1').html('<div class="alert alert-success" role="alert">Minimum Citrus: <strong>' + min_citrus + '</strong><br/>Minimum Herbal (herbaceous): <strong>' + min_herbal + '</strong><br/>Minimum overall hoppy intensity: <strong>' + min_hoppy + '</strong></div><br/>');

                    $('#output2').html('<div class="alert alert-success" role="alert">Average Citrus: <strong>' + average_citrus + '</strong><br/>Average Herbal (herbaceous): <strong>' + average_herbal + '</strong><br/>Average overall hoppy intensity: <strong>' + average_hoppy + '</strong></div><br/>');

                    $('#output3').html('<div class="alert alert-success" role="alert">Maximum Citrus: <strong>' + max_citrus + '</strong><br/>Maximum Herbal (herbaceous): <strong>' + max_herbal + '</strong><br/>Maximum overall hoppy intensity: <strong>' + max_hoppy + '</strong></div><br/>');

                    // Create the chart
                    //console.log(min_citrus);
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var chart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ['Citrus', 'Herbal', 'Hoppy'],
                            datasets: [
                                {
                                    label: 'Minimum',
                                    data: [parseFloat(min_citrus), parseFloat(min_herbal), parseFloat(min_hoppy)],
                                    backgroundColor: 'rgba(75, 192, 192, 0.5)',
                                    borderColor: 'rgba(75, 192, 192, 1)',
                                    borderWidth: 1
                                },
                                {
                                    label: 'Average',
                                    data: [average_citrus, average_herbal, average_hoppy],
                                    backgroundColor: 'rgba(54, 162, 235, 0.5)',
                                    borderColor: 'rgba(54, 162, 235, 1)',
                                    borderWidth: 1
                                },
                                {
                                    label: 'Maximum',
                                    data: [max_citrus, max_herbal, max_hoppy],
                                    backgroundColor: 'rgba(255, 99, 132, 0.5)',
                                    borderColor: 'rgba(255, 99, 132, 1)',
                                    borderWidth: 1
                                }
                            ]
                        },
                        options: {
                            responsive: true,
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        });
    </script>

</head>
<body>
    <section>
        <h1>Hops Predictor</h1>
        <p>Fill out the following data fields and get a detailed forecast of your beer's aroma</p>
    </section>
    <form action="submit">

        <section id="basic-info">
            <div class="recipe-name">
                <label for="recipe-name">Recipe name</label>
                <input type="text" name="recipe-name" id="recipe-name" placeholder="Recipe name" required>
            </div>
            
            <div class="author">
                <label for="author">Author</label>
                <input type="text" name="author" id="author" placeholder="Author" required>
            </div>

        </section>

        <section id="recipe">
            <div id="beer-info">
                <h2>Beer information</h2>

                <div class="beer-style">
                    <label for="beer-style">Beer style</label>
                    <select name="beer-style" id="beer-style">
                        <option value="ale">Ale</option>
                        <option value="lager">Lager</option>
                        <option value="stout">Stout</option>
                        <option value="ipa">IPA</option>
                        <option value="pale-ale">Pale Ale</option>
                        <option value="porter">Porter</option>
                        <option value="sour">Sour</option>
                        <option value="wheat-beer">Wheat Beer</option>
                    </select>
                </div>
            </div>

            <div id="hops-info">
                <h2>Hops information</h2>

                <div class="variety">
                    <label for="variety">Hops variety</label>
                    <select name="variety" id="variety">
                        <option value="Amarillo">Amarillo</option>
                        <option value="Aurora">Aurora</option>
                        <option value="Azacca">Azacca</option>
                        <option value="Bravo">Bravo</option>
                        <option value="Brewer's Gold">Brewer's Gold</option>
                        <option value="Cascade">Cascade</option>
                        <option value="Celeia">Celeia</option>
                        <option value="Centennial">Centennial</option>
                        <option value="Challenger">Challenger</option>
                        <option value="Chinook">Chinook</option>
                        <option value="Citra">Citra</option>
                        <option value="Cluster">Cluster</option>
                        <option value="Columbia">Columbia</option>
                        <option value="Comet">Comet</option>
                        <option value="Crystal">Crystal</option>
                        <option value="CTZ">CTZ</option>
                        <option value="East Kent Golding">East Kent Golding</option>
                        <option value="Ekuanot">Ekuanot</option>
                        <option value="El Dorado">El Dorado</option>
                        <option value="First Gold">First Gold</option>
                        <option value="Fuggle">Fuggle</option>
                        <option value="Galaxy">Galaxy</option>
                        <option value="Galena">Galena</option>
                        <option value="Glacier">Glacier</option>
                        <option value="Hallertau Blanc">Hallertau Blanc</option>
                        <option value="Hallertau Mittelfrüh">Hallertau Mittelfrüh</option>
                        <option value="Hallertau Tradition">Hallertau Tradition</option>
                        <option value="Herkules">Herkules</option>
                        <option value="Hersbrucker spät">Hersbrucker spät</option>
                        <option value="Horizon">Horizon</option>
                        <option value="Hüll Melon">Hüll Melon</option>
                        <option value="Idaho">Idaho</option>
                        <option value="Idaho 7">Idaho 7</option>
                        <option value="Liberty">Liberty</option>
                        <option value="Magnum">Magnum</option>
                        <option value="Mandarina Bavaria">Mandarina Bavaria</option>
                        <option value="Millennium">Millennium</option>
                        <option value="Mosaic">Mosaic</option>
                        <option value="Motueka">Motueka</option>
                        <option value="Mt. Hood">Mt. Hood</option>
                        <option value="Nelson Sauvin">Nelson Sauvin</option>
                        <option value="Newport">Newport</option>
                        <option value="Northern Brewer">Northern Brewer</option>
                        <option value="Nugget">Nugget</option>
                        <option value="NZ Pacific Jade">NZ Pacific Jade</option>
                        <option value="NZ Southern Cross">NZ Southern Cross</option>
                        <option value="Opal">Opal</option>
                        <option value="Pacific Gem">Pacific Gem</option>
                        <option value="Pacifica ™">Pacifica</option>
                        <option value="Palisade">Palisade</option>
                    </select> 
                </div>

                <div class="format">
                    <label for="format">Format</label>
                    <select name="format" id="format">
                        <option value="Whole">Whole</option>
                        <option value="American noble">American noble</option>
                        <option value="Cryo">Cryo</option>
                        <option value="T-90">T-90</option>
                    </select>
                </div>

                <div class="amount">
                    <label for="amount">Amount (g/L)</label>
                    <input type="number" name="amount" id="amount" placeholder="Amount" required max='20'>
                </div>
            </div>
        </section>

        <section id="submit">
            <input type="button" value="Submit">
        </section>

    </form>
    
    <section id="output">
        <canvas id="myChart"></canvas>
        <section id="output1">
    
        </section>

        <section id="output2">

        </section>

        <section id="output3">

        </section>
    </section>

</body>
</html>